.window-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 80%;
    border: 3px solid #000;

    .folder-container {
        &__folder-toolbar {
            background-color: #FEC880;
            display: flex;
            justify-content: space-between;
            align-items: center;
            height: 35px;
            padding: 0 10px;
            border-bottom: 3px solid #000;

            .toolbar-text-container {
                font-size: 25px;
                font-weight: bolder;
            }

            .toolbar-btns-container {
                display: flex;
                gap: 10px;


                .folder-icon {
                    background-color: #FFF;
                    display: flex;
                    border: 2px solid #000;
                    width: 20px;
                    height: 20px;
                    justify-content: center;
                    align-items: center;
                }

                .folder-icon:nth-child(1) {
                    align-items: flex-end;
                    padding-bottom: 3px;

                    div {
                        border-bottom: 2px solid #000;
                        width: 13px;
                    }
                }

                .folder-icon:nth-child(2) {
                    div {
                        width: 13px;
                        height: 13px;
                        border: 1px solid #000;
                        border-top: 4px solid #000;
                    }
                }

                .folder-icon:nth-child(3) {
                    font-weight: bolder;
                }
            }
        }

        &__path {
            display: flex;
            justify-content: space-between;

            .url {
                width: 40%;
                border: 2px solid #000;
                margin: 10px;
                padding: 7px;
            }

            .search {
                width: 200px;
                border: 2px solid #000;
                margin: 10px;

                input {
                    width: 100%;
                    height: 100%;
                    border: none;
                    padding-left: 10px;
                }

                input:focus {
                    outline: none;
                }
            }
        }
    }

    &__toolbar {
        background-color: #B0F0FB;
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 40px;
        padding: 0 10px;
        border-bottom: 3px solid #000;

        .toolbar-btns-container {
            display: flex;
            align-content: center;

            .circle-btn:nth-child(1) {}

            .circle-btn:nth-child(2) {
                background-color: orange;
            }

            .circle-btn {
                height: 20px;
                width: 20px;
                border: 3px solid #000;
                border-radius: 50%;
                margin: 5px;
            }
        }

        .toolbar-text-container {
            font-size: 30px;
        }
    }

    &__content {
        display: flex;
        height: 100%;
        overflow: auto;
        justify-content: center;
        align-items: center;
    }

    box-shadow: 12px 10px 0px -3px rgba(0, 0, 0, 0.69);
    -webkit-box-shadow: 12px 10px 0px -3px rgba(0, 0, 0, 0.69);
    -moz-box-shadow: 12px 10px 0px -3px rgba(0, 0, 0, 0.69);
}

@media only screen and (max-width: 767px) {
    .window-container {

        .folder-container {
            &__folder-toolbar {
                .toolbar-text-container {}

            }
        }

        &__toolbar {
            .toolbar-text-container {
                font-size: 25px;
            }
        }
    }

}